.element{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30px;
    right: 25px;
    border-radius: 50%;
    display: block;
    z-index: 1;
}

.miniElement{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 20rem;
    border-radius: 50%;
    display: block;
    z-index: 1;
}

.imageAbout{
    position:relative;
    z-index: 200;
}

.aboutbanner{
    background-position:center;
   
    background-size: cover;
    height: 460px;
  }

.mobile-hidden{}



@media(max-width:480px){
    .mobile-hidden{
        display: none;
    }
    .aboutbanner{
        background-position:center;
        background: url('/assets/images/banner_1.jpeg');
        background-size: cover;
        height:356px;
      }
}
