.element{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30px;
    right: 25px;
    border-radius: 50%;
    display: block;
    z-index: 0;
}

.miniElement{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 20rem;
    border-radius: 50%;
    display: block;
    z-index: 0;
}

.imageAbout{
    position:relative;
    z-index: 200;
}

